In [1]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [3]:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

### Question no 2

In [5]:
# Calculate sum and product of first 10 natural numbers using for loop
sum = 0
product = 1

for i in range(1, 11):
    sum += i
    product *= i

print("Sum of first 10 natural numbers is:", sum)
print("Product of first 10 natural numbers is:", product)

Sum of first 10 natural numbers is: 55
Product of first 10 natural numbers is: 3628800

In [6]:
# Calculate sum and product of first 10 natural numbers using while loop
sum = 0
product = 1
i = 1

while i <= 10:
    sum += i
    product *= i
    i += 1

print("Sum of first 10 natural numbers is:", sum)
print("Product of first 10 natural numbers is:", product)

Sum of first 10 natural numbers is: 55
Product of first 10 natural numbers is: 3628800

In [7]:
### Question no 3

In [8]:
units_consumed = int(input("Enter the number of units consumed: "))

if units_consumed <= 100:
    total_bill = units_consumed * 4.5
elif units_consumed <= 200:
    total_bill = 100 * 4.5 + (units_consumed - 100) * 6
elif units_consumed <= 300:
    total_bill = 100 * 4.5 + 100 * 6 + (units_consumed - 200) * 10
else:
    total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units_consumed - 300) * 20

print(f"The total bill for {units_consumed} units is Rs. {total_bill:.2f}")

Enter the number of units consumed:  310

The total bill for 310 units is Rs. 2250.00

In [9]:
###Question no 4

In [11]:
cubes = []
for i in range(1, 101):
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(i)
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [12]:
cubes = []
i = 1
while i <= 100:
    cube = i ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(i)
    i += 1
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [13]:
###Question no 5

In [14]:
string = "I want to become a data scientist"
vowels = "aeiou"
count = 0

for char in string:
    if char.lower() in vowels:
        count += 1

print("The number of vowels in the string is:", count)

The number of vowels in the string is: 12